.mainTitle{
    font-size: 25px;
}

.collectionsContainer{
    position: absolute;
    display: inline-block;
    margin-top: 100px;
    width: 40%;
    top: 0;

}

.collectionsTitle{
    margin-bottom: 20px;
    font-size: 18px;
}

/* Uses prefix for ASYNC classes*/
:host ::ng-deep .collection{
    display: block;
    font-size: 15px;
    margin: 12.5px 0px;
    cursor: pointer;
}
:host ::ng-deep .collection:hover{
    font-size: 16px;
}

:host ::ng-deep .activeCollection{
    color: blue;
}

.activeCollection{
    color: blue;
}


.imageContainer{
    position: relative;
    display: inline-block;
    align-content: center;
    margin-top: 50px;
    margin-left: 40%;
    width: 60%;
    text-align: center;

}

.displayedImg{
    max-width: 100%;
}

.arrow{
    max-width: 30px;
    margin: 10px 150px;
    margin-top: 20px;
    cursor: pointer;
    
}

.arrow:hover{
    transform: scale(1.1);
}

.speedLabel{
    position: absolute;
    margin-top: 18px;
    margin-left: 30px;
}

.speedInput{
    width: 20px;
    height: 20px;
    margin: 5px;
    text-align: center;
    font-weight: bold;
}

.automatedLabel{
    position: absolute;
    margin-top: 25px;
    margin-left: -120px;
}

.automatedInput{
    width: 10px;
    height: 10px;
    margin: 5px;
    text-align: center;
    font-weight: bold;
}