<p>
    De portretten van de vrouwen en mannen uit de psychiatrie raken me, ze hebben jaren achter deuren en hekken gewoond. Onzichtbaar voor de buitenwereld. Ik wil hen aan de buitenwereld tonen opdat ze alsnog worden gezien.
    Alle werken zijn gemaakt in olieverf en werden aanvankelijk gekenmerkt door zachte overgangen. Vervolgens komt er een nieuw element bij, harde lijnen. In de recente werken zie je een combinatie van beide, waar de drager van aluminium tevens deel uitmaakt van de kleurstelling.
    Wat opvalt is, dat klassieke thema’s als uitgangspunt niet evident met klassieke kleuren zijn uitgewerkt. Hierdoor ontstaat er een mysterieuze, mystieke sfeer.
</p>
