<p>
    Na het beëindigen van mijn werkzame jaren als woonbegeleider in diverse tehuizen voor mensen met een verstandelijke en/of psychiatrische stoornis, kwam er in 2007 meer tijd voor mezelf. 
    Iets waar ik al lang naar uitkeek, tijd om te schilderen.
    
    In 2015 heb ik een vijfjarige opleiding aan de Academie voor Beeldende Kunsten in Maasmechelen afgerond, waarna ik van start ben gegaan met een driejarige specialisatie. 
    Bij Annemiek Jongen heb ik cursussen en workshops gevolgd. Ik ben lid van de NABK en regelmatig exposeer ik mijn werk.
</p>
