<div class="container">

  <div class="titleHolder">
    <h1 class="editPageTitle">Collectie aanpassen:</h1>
  </div>
  <div cdkDropList class="artcollections" (cdkDropListDropped)="drop($event)">

  <div *ngFor="let collection of artCollections; let i = index" #element  >
    <div *ngIf="edit != i;else editForm" cdkDrag>
      <div  class="collections" >
        <p  class="collectionTitle">{{collection.title}}</p>
        <button class="editBtn" (click)="startEdit($event, i)">OPEN</button>
        <button class="deleteBtn" (click)="deleteCollection(collection.id, element)">DELETE</button>
      </div>
    </div> 

    <ng-template #editForm>
      <div class="collections">
        <input type="text" #titleInput class="collectionTitleInput" value={{collection.title}}>
        <button class="editBtn2" (click)="closeEdit($event, i)">CLOSE</button>
        <button class="deleteBtn2" (click)="deleteCollection(collection.id, element)">DELETE</button>
      </div>

      <button 
      class="imgInputBtn" 
      (click)="filePicker.click()"
      >Klik om afbeeldingen toe te voegen</button> 
      <p>Sleep de afbeeldingen om de volgorde te wijzigen</p>

    <input 
      #filePicker
      class="fileInput" 
      id="imgInput" 
      type="file" 
      multiple
      (change)="addImages($event, i)">
      
      <div class="collectionImages" id="collectionImages" data-index="i" (dragover)="allowDrop($event)">
          <div *ngFor="let image of collection.artCollection; let i = index" class="imgHolder" (dragover)="allowDrop($event)">
              <img  
              [src]="image" 
              (dragend)="swapImg($event, collection.artCollection)"
              class="collectionImg previewImg" 
              alt=""
              [attr.data-index]="i"> 
              <p class="removeImg" [attr.data-index]="i" (click)="removeImg(i, collection.artCollection)">X</p>
          </div>

      </div>
      <div class="description">
      <h3 class="descriptionLabel">Beschrijving</h3>
      <textarea rows="4" cols="50" class="descriptionTextarea" id="descriptionTextarea"type="text" #descriptionInput class="collectionDescription" value={{collection.description}}></textarea>
      </div>
      <button class="imgInputBtn" (click)="updateCollection($event, i, titleInput.value, collection.id, descriptionInput.value)">AANPASSINGEN OPSLAAN</button> 
    </ng-template>

  </div>

</div>