.titleHolder{
    text-align: center;
    width: 100%;
}

.editPageTitle{
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
}
.artcollections{
    margin-top: 10%;
}
.collections{
    width: 800px;
    height: 40px;
    /* border: 1px solid black; */
    margin-top: 10%;
    border-bottom: 1px solid gray;
    margin: 5px 0;
    margin-left: calc(50% - 400px);
    background: white;
    border-radius: 2px;
}

.collectionTitle{
    display: inline-block;
    font-size: 20px;
    margin: 10px 0 0 10px;
    font-weight: 500;
    text-transform: uppercase;
}

.collectionTitleInput{
    display: inline-block;
    font-size: 20px;
    margin: 6px 0 0 10px;
    padding-left: 5px;
    font-weight: 500;
    text-transform: uppercase;
}

.editBtn{
    position: relative;
    display: block;
    margin-top: -22px;
    margin-left: 740px;
    height: 25px;
    width: 50px;
    padding: 0 !important;
    cursor: pointer;
    background: grey;;
    border: 1px solid grey;;
    border-radius: 5px;
    font-weight: bold;
    color:white;

}
.editBtn2{
    position: relative;
    display: block;
    margin-top: -27px;
    margin-left: 740px;
    height: 25px;
    width: 50px;
    padding: 0 !important;
    cursor: pointer;
    background: grey;;
    border: 1px solid grey;;
    border-radius: 5px;
    font-weight: bold;
    color:white;
}
.deleteBtn{
    position: relative;
    display: block;
    margin-top: -25px;
    margin-left: 670px;
    height: 25px;
    width: 60px;
    padding: 0 !important;
    cursor: pointer;
    background: grey;
    border: 1px solid grey;;
    border-radius: 5px;
    font-weight: bold;
    color:white;

}
.deleteBtn2{
    position: relative;
    display: block;
    margin-top: -25px;
    margin-left: 670px;
    height: 25px;
    width: 60px;
    padding: 0 !important;
    cursor: pointer;
    background:grey;
    border: 1px solid grey;
    border-radius: 5px;
    font-weight: bold;
    color:white;

}

.collectionImages{
    width: 100%;
    height: 250px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    /* margin-left: calc(50% - 400px); */
}

.collectionImg{
    max-height: 180px;
    margin: 10px;
}

.removeImg{
    position: relative;
    color: red;
    font-weight: bold;
    cursor: pointer;
}

.imgHolder{
    display: inline-block;
}

.fileInput{
    visibility: hidden;
}

.description{
    width: 800px;
    height: 40px;
    margin: 15px 0;
    margin-left: calc(50% - 400px);
    font-size: 20px;
    padding-left: 5px;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    border: none;
    color: white;
    margin-bottom:3%;


}

.imgInputBtn{
    width: 800px;
    height: 40px;
    margin: 15px 0;
    margin-left: calc(50% - 400px);
    font-size: 20px;
    padding-left: 5px;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    border: none;
    color: white;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-size: 300% 100%;
   background-color: gray;


}
.imgInputBtn:hover{
    background-position: 100% 0;
}

#descriptionTextarea{
    width: 98%;
}
.descriptionLabel{
    margin-bottom: 1%;
    color:black;
}