<div class="container">
  <div class="titleHolder">
    <h1 class="pageTitle">Add a new art collection</h1>
  </div>

  <p class="label">Enter a title:</p>
  <input
   #inputCollectionTitle
   [(ngModel)]="collectionTitle" 
   class="titleInput" 
   id="titleInput"
   name="titleInput" type="text" 
   placeholder="Enter a title for the art collection">
  
  <div class="fileInputDiv">
    <p class="label">Upload images:</p>
    <button 
      class="imgInputBtn" 
      (click)="filePicker.click()"
      >Click To Add Images</button> 

    <input 
      #filePicker
      class="fileInput" 
      id="imgInput" 
      type="file"
      multiple
      (change)="getPreviewImages($event)">
      
  </div>

  <div class="previewCollection">
    <div class="titleHolder">
      <h2 class="previewHeader" id="previewHeader">Preview:</h2>
    </div>

    <h3 class="label">Preview Titlte: <p class="bold-uppercase-inline">{{collectionTitle}}</p></h3>

    <p class="label">Images preview  (drag & drop to change order):</p>
    <div class="previewImages"id="previewImages">
      <div *ngFor="let image of imagePreviews; let i = index" class="imgHolder">
          <img  
          [src]="image" 
          (dragend)="swapImg($event)"
          class="previewImg" 
          alt=""
          [attr.data-index]="i"> 
          <p class="removeImg" [attr.data-index]="i" (click)="removeImg($event)">X</p>
      </div>
      
    </div>
    
    <button class="imgInputBtn addCollectionBtn" (click)="addCollection()">Add Collection</button> 


  </div>
</div>