<div class="container">
  <div class="centerText">
    <h1 class="pageTitle">Voeg nieuwe collecties toe</h1>
  </div>

  <h2 class="label">Voer een titel in:</h2>
  <input
   #inputCollectionTitle
   [(ngModel)]="collectionTitle" 
   class="titleInput" 
   id="titleInput"
   name="titleInput" type="text" 
   placeholder="Voer een titel in">
  
   <h2 class="label">Voer een beschrijving in:</h2>

   
   <div class="description">
      <textarea  #textareaCollectionDescription
      [(ngModel)]="collectionDescription"  rows="4" cols="50" class="descriptionTextarea" id="descriptionTextarea"type="text"  class="collectionDescription" value="Voer een beschrijving in"></textarea>
      </div>
   
  <div class="fileInputDiv">
    <p class="label">Upload:</p>
    <button 
      class="imgInputBtn" 
      (click)="filePicker.click()"
      >Klik hier om afbeeldingen toe te voegen</button> 

    <input 
      #filePicker
      class="fileInput" 
      id="imgInput" 
      type="file"
      multiple
      (change)="getPreviewImages($event)">
      
  </div>

  <div class="previewCollection">
    <div class="titleHolder">
      <h2 class="previewHeader" id="previewHeader">Preview:</h2>
    </div>

    <h3 class="label"> <p class="bold-uppercase-inline">{{collectionTitle}}</p></h3>

    <p class="label">Wijzig hier de volgorde van de afbeeldingen</p>
    <div class="previewImages"id="previewImages" (dragover)="allowDrop($event)">
      <div *ngFor="let image of imagePreviews; let i = index" class="imgHolder" (dragover)="allowDrop($event)">
          <img  
          draggable="true"
          [src]="image"  
          (dragend)="swapImg($event)"
          class="previewImg" 
          alt=""
          [attr.data-index]="i"> 
          <p class="removeImg" [attr.data-index]="i" (click)="removeImg(i, image)">X</p>
      </div>
      
    </div>
    <p class="label">
      {{collectionDescription}}
    </p>
    <button class="imgInputBtn addCollectionBtn" (click)="addCollection()">Collectie opslaan</button> 


  </div>
</div>